<div>
    <p></p>
    <h3>Список товаров</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p.id)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
